* {
  margin: 0;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: "gotham";
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
p {
  margin: 0;
  padding: 0;
}
.animated-background-wrap {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
}

.animated-background {
  background-image: url(img/space.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;

  scale: 2;

  animation: rotate 333s linear infinite;
}

@keyframes rotate {
  50% {
    scale: 3;
    transform: rotate(180deg);
  }
  100% {
    scale: 2;
    transform: rotate(360deg);
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #736c93;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-wrap {
  margin-left: 100px;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border: 1px solid #736c93;
  background-image: url(img/img-rocket-to-the-moon.jpg);
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 50px 50px 66px rgba(141, 135, 217, 0.2);
}

.playlist-header {
  border-bottom: 1px solid #292730;
  font-size: 16px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 8px;
  padding-top: 12px;
  display: flex;
  justify-content: center;
}

.playlist-title {
  margin-inline: 200px;
  font-size: 18px;
}

/* The two main sections in the the music-player */
.playlist-songs {
  width: 50%;
  height: 500px;
  overflow-y: scroll;
}

.playlist-playbar {
  width: 50%;
  background-color: rgba(8, 8, 35, 0.85);
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-flow: column;
}
/* The two main sections in the the music-player */

#playlist-album {
  width: 275px;
  height: 275px;
  margin-block: 25px;
  border: 3px double white;
  box-shadow: 5px 5px 14px rgb(66, 106, 106);
  border-radius: 25px;
}
#playlist-artist {
  font-variant-caps: small-caps;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
  transform: scale(1.2, 1.2);
  background-color: rgba(0, 0, 0, 0.65);
  border-top: 1px solid #000000;
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
  padding-top: 5px;
}
#playlist-song {
  font-variant-caps: small-caps;
  font-size: 16px;
  margin-top: 3px;
  color: rgb(178, 240, 255);
  transform: scale(1.2, 1.2);
  background-color: rgba(0, 0, 0, 0.65);
  border-bottom: 1px solid #000000;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.progress-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.progress-bar {
  width: 250px;
  height: 10px;
  border: 1px solid rgb(63, 63, 94);
  #current-time {
    width: 0;
    height: 100%;
    background-color: rgba(240, 236, 251, 0.9);
  }
}

.start-time {
  width: 50px;
  text-align: center;
}
.end-time {
  width: 50px;
  text-align: right;
}

.playbar {
  display: flex;
  justify-content: center;
  align-items: center;

  .p-c {
    opacity: 0.65;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
  }
  .p-c:hover {
    opacity: 1;
  }
  .f-r {
    opacity: 0.65;
    font-size: 33px;
    margin-left: 50px;
    cursor: pointer;
  }
  .f-r:hover {
    opacity: 1;
  }
  .f-f {
    opacity: 0.65;
    font-size: 33px;
    margin-right: 50px;
    cursor: pointer;
  }
  .f-f:hover {
    opacity: 1;
  }
}

.songbox {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.96);
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  border-bottom: 1px solid rgb(15, 15, 15);
}

.album-cover {
  margin-left: 15px;
  width: auto;
  height: 55px;
  width: 55px;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 7px;
}
.playlist-wrapper {
  margin-left: 10px;
  width: 65%;
}
.song-title {
  font-family: "gotham-bold";
  font-size: 16px;
  font-variant-caps: small-caps;
  color: rgb(146, 146, 190);
}
.album-title {
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.play-icon {
  color: rgb(146, 146, 190);
}

@font-face {
  font-family: "gotham";
  src: url(fonts/GothamLight.ttf);
}

@font-face {
  font-family: "gotham-bold";
  src: url(fonts/Gotham-Bold.otf);
}

.songbox:hover {
  background-color: rgba(0, 0, 25, 0.9);
  border-block: 1px solid rgb(49, 49, 49);
  .play-icon {
    color: rgb(227, 227, 255);
    animation: album-hover 0.33s forwards;
  }
  .playlist-wrapper > .song-title {
    color: white;
  }
  .playlist-wrapper > .album-title {
    color: white;
  }
  .album-cover {
    border: 1px solid white;
    animation: album-hover 0.5s forwards;
  }
}

@keyframes album-hover {
  100% {
    transform: scale(1.2);
  }
}
@keyframes album-playing {
  100% {
    transform: rotate(360deg);
  }
}

.songbox-live {
  overflow: hidden;
  background-color: rgba(0, 0, 25, 0.76);
  border-block: 1px solid grey;
  .playlist-wrapper > .song-title {
    color: white;
  }
  .playlist-wrapper > .album-title {
    color: white;
  }
  .album-cover {
    border: 2px solid white;
    border-radius: 50px;
    animation: album-playing 7s linear infinite;
  }
  .play-icon {
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    margin: 0;
    padding: 0;
  }
}
